$primary-color: #2563eb;
$secondary-color: #f1f5f9;
$accent-color: #f59e0b;
$white: #ffffff;
$text-color: #1e293b;

$padding-sm: 8px;
$padding-md: 16px;
$padding-lg: 32px;

$radius-round: 12px;
$radius-sharp: 2px;
$font-poppins: "Poppins", sans-serif; 

$dark-bg: #000;
$dark-text: #55525248;