$primary-color: #3498db; // ლურჯი ტალღებისთვის
$secondary-color: #e74c3c; // 
$bg-color: #ecf0f1;
$text-color: #2c3e50;

$wave-duration: 4s; // ანიმაციის ხანგრძლივობა
$wave-width: 400px;
$wave-height: 200px;