@use 'variables' as *;

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: $bg-color;
    font-family: sans-serif;
    overflow: hidden; // ხელს უშლის სქროლის გაჩენას
}

// მთავარი კონტეინერი (ჭიქა/ბაკი)
.loader-container {
    position: relative;
    width: $wave-width;
    height: $wave-height;
    background-color: $container-bg;
    border-radius: 20px;
    overflow: hidden; // ტალღები არ გასცდეს კონტეინერს
    border: 5px solid white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

// ტექსტის შრე
.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    pointer-events: none; // რომ მაუსის მიტანამ (hover) ტალღებზე იმუშაოს

    span {
        font-size: 1.8rem;
        font-weight: bold;
        color: $text-color;
        text-transform: uppercase;
        mix-blend-mode: overlay; // ტექსტის ეფექტური შერწყმა წყალთან
    }
}

// ტალღების საერთო კონტეინერი
.wave-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

// ცალკეული ტალღის ფენა
.wave-layer {
    position: absolute;
    bottom: 0;
    display: flex; // SVG-ების გვერდიგვერდ განლაგება უწყვეტობისთვის
    width: 2880px; // ერთი SVG-ის სიგანე (1440) * 2
    height: 150px; // ტალღის სიმაღლე

    svg {
        width: 1440px;
        height: 100%;
    }

    // პირველი ტალღა
    &.one {
        fill: $primary-color;
        opacity: 0.7;
        animation: moveWaves $wave-duration infinite linear;

        // svg:nth-child(2) {
        //     position: relative;
        //     left: 8%;
        // }
    }

    // მეორე ტალღა
    &.two {
        fill: $secondary-color;
        opacity: 0.5;
        bottom: 10px; // მცირე ვერტიკალური დაცილება სიღრმისთვის
        // მოძრაობს საპირისპიროდ და უფრო სწრაფად
        animation: moveWaves ($wave-duration * 0.7) infinite linear reverse;

        // svg:nth-child(2) {
        //     position: relative;
        //     left: 8%;
        // }
    }
}

// "შტორმის" ეფექტი მაუსის მიტანისას
.loader-container:hover {
    .wave-layer {
        animation-duration: 2s; // სიჩქარის მკვეთრი ზრდა
    }
}

// ტალღების ჰორიზონტალური მოძრაობის ანიმაცია
@keyframes moveWaves {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1420px); // გადაადგილება ერთი SVG-ის სიგანით
    }
}