@use './scss/variables' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg-main;
}

.chat-wrapper {
    width: 100vh;
    max-width: 450px;
    height: 650px;
    background: $white;
    border-radius: $radius-main;
    box-shadow: $shadow-lg;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .chat-window {
        width: 100%;
        max-width: 450px;
        height: 650px;
        justify-content: center;
        align-items: center;
        padding: 20px;

        .chat-header {
            padding: 20px;
            background: $white;
            border-bottom: 1px solid #f1f1f1;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .bot-info {
                display: flex;
                align-items: center;
                gap: 12px;

                .avatar {
                    position: relative;

                    img {
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;

                        .online-indicator {
                            position: absolute;
                            bottom: 2px;
                            right: 2px;
                            width: 10px;
                            height: 10px;
                            background: #10b981;
                            border: 2px solid $white;
                            border-radius: 50%;
                        }
                    }

                    .details {
                        h1 {
                            font-size: 1rem;
                            color: $text-dark;
                        }

                        p {
                            font-size: .8rem;
                            color: #10b981;
                            font-weight: 500;
                        }
                    }
                }

                .action {
                    color: $text-muted;
                    cursor: pointer;
                }

                //Chat body section
                .chat-content {
                    flex: 1;
                    padding: 20px;
                    overflow-x: auto;
                    background: #fafafa;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    .message {
                        display: flex;
                        flex-direction: column;
                        max-width: 85%;

                        .bubble {
                            padding: 12px 16px;
                            font-size: .95rem;
                            box-shadow: $shadow-sm
                        }

                        .time {
                            font-size: .7rem;
                            color: $text-muted;
                            margin-top: 5px;
                        }

                        &.bot {
                            align-self: flex-start;

                            .bubble {
                                background-color: $bot-bubble;
                                color: $text-dark;
                                border-radius: 0 $radius-msg $radius-msg $radius-msg;
                            }
                        }

                        &.user {
                            align-self: flex-end;

                            .bubble {
                                background-color: $bot-user;
                                color: $white;
                                border-radius: $radius-msg;
                            }
                        }
                        .typing {
                            display: flex;
                            gap: 4px;
                            span {
                                width: 6px;
                                height: 6px;
                                background-color: $text-muted;
                                border-radius: 50%;
                                opacity: .4;
                            }
                        }
                    }
                }
            }
        }
    }
}