//Colors
$primary-color: #4f46e5;
$bg-main: #f3f4f6;
$text-dark: #1f2937;
$text-muted: #6b7280;
$white: #ffffff;

// Message Bubbles
$bot-bubble: #f9fafb;
$bot-user: #4a45a0;

//Shadow & Radii

$shadow-sm: 0 4px 6px 1px rgba(0,0,0,0.1);
$shadow-lg: 0 20px 25px -5px rgba(0,0,0,0.1);
$radius-main: 24px;
$radius-msg: 16px;

//Transitions
$standart-transition: all 0.2s ease-in-out;

