$unit: 20px;

$color-danger: #ff4d4d;
$color-success: #39ff14;
$color-iron: #4a5568;
$color-gold: #ecc94b;
$color-shield: #4299e1;

// tokens
$eye-color: $color-success;
$antenna-height: $unit * 2;
$body-shape: $unit * 1.5;

//Inventory

$has-shield: true;
$has-tool: true;