$primary-color: #4A90e2; // ლურჯი
$secondary-color: #2ecc71; // მწვანე
$text-dark: #333;
$bg-color: #f4f4f4;
$border-radius: 12px;
$transition: all 0.3s ease;

$accent-color: #f39c12;
$card-shadow-hover: 0 4px 15px rgba(0, 0, 0, 0.1);
$font-main: "Roboto", sans-serif;