@use 'variables' as v;
@use 'mixins' as m;

.main-footer{
    background-color: v.$primary-color;
    color: v.$dark-text;
    padding: 45px 0;
    margin-top: 50px;
    text-align: center;
    .footer-content{
        @include m.flex-center; // ვაცენტრებთ კონტენტს მიქსინით
        gap: 20px;
        ul{
            list-style: none;
            padding: 0;
            display: flex;
            gap: 180px;

            li a{
                color: v.$secondary-color;
                text-decoration: none;
                transition:  color 0.3s ease;
                &:hover{
                    color: v.$primary-color;
                }
            }
        }
    }
    .copyright{
        margin-top: 30px;
        font-size: 0.8rem;
        opacity: 0.6;
    }
}