@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@mixin card-shadow{
    box-shadow: 0 4px 6px rgba($color: #000000, $alpha: 1.0);
    border-radius: 8px;
    padding: 20px;
}