@use 'variables' as v;
@use 'mixins' as m;

.navbar{
    background-color: #ffff;
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba($color: #000000, $alpha: 1.0);
    position: sticky; // მენიუ გაჰყვება სქროლსს
    top: 0;
    z-index: 1000;

    .container{
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        font-size: 24px;
        font-weight: bold;
        color: v.$primary-color;
        text-decoration: none;
        text-transform: uppercase;
    }
    .nav-links{
        display: flex;
        list-style: none;
        gap: 20px; // დაშორება ლინკებს შორის 
        li{
            a{
                text-decoration: none;
                color: v.$dark-text;
                font-weight: 500;
                transition: 0.3s; // გლუვი გადასვლისთვის
                &:hover{
                    color: v.$primary-color; 
                }
            }
        }
    }
}