@use 'variables';
@use 'mixins';
@use 'header';
@use 'services';
@use 'footer';
@use 'navbar';
@use 'contact';

//ზოგადი სტილები
body {
    margin: 0;
    padding: 0;
    font-family: variables.$font-stack;
    background-color: variables.$bg-color;
}

.services {
    display: flex;
    justify-content: space-around;
    padding: 50px;

    .card {
        background: white;
        width: 25%;
        text-align: center;
        @include mixins.card-shadow;
        color: variables.$dark-text
    }
}