$primary-color: #007bff;
$color-bg-app: #f0f2f5;
$color-bg-chat: #ffffff;
$color-sidebar: #ffffff;
$color-text-main: #1c1e21;
$color-text-sub: #65676b;
$color-bot-bubble: #f0f2f5;
$color-user-bubble: #007bff;

$chat-max-width: 1100px;
$chat-height: 85vh;
$sidebar-width: 300px;
$border-radius-base: 10px;
$transition-base: all 0.2s ease-in-out;
$shadow-base: 0 12px 28px 0 rgba(0, 0, 0, 0.2);