@mixin flex-center {

    display: flex;

    justify-content: center;

    align-items: center;

}

// შეტყობინების ბაბდის სტილი

@mixin massages-bubble($bg, $color, $align) {
    background-color: $bg;
    color: $color;
    padding: 10px 16px;
    border-radius: 18px;
    max-width: 70%;
    font-size: 14px;
    line-height: 14px;
    line-height: 1, 5;
    align-self: $align;
}