$primary-color: #3498bd;
$main-padding: 20px;
$front-large: 1.5rem;
$border-radius: 8px;
$color-bg-app: #f0f2f5; // ფიბუ აპლიკაციისთვის
$color-bg-chat: #f0f2f5; //ფონი ჩატის ფანჯრისთვის
$color-sidebar: #ffffff; //ფონი გვერდითა პანელისთვის
$color-primary: #007bff; //ძირითადი აქცენტის ფერი (ლურჯი)
$color-text-main: #1c1e21; //მთავარი ტექსტის ფერი
$color-text-sub: #65676b; //დამხმარე ტექსტის ფერი
$color-bot-bubble: #e44646;
$color-radius: #dddfe2;
$color-user-buble: $color-primary;

//ზომები
$font-size-base: 14px;
$font-size-small: 12px;
$font-weight-bold: 600;
$font-max-width: 1100px;
$chat-height: 85vh;
$sidebar-width: 300px;
$border-radius-base: 10px;
//ანიმაცია და გარდამავლობა
$transition-base: all 0.2s ease-in-out;
$shadow-base: 0 12px 28px 0 rgba(0, 0, 0, 0.88);

// $chat-max-width: black;