body {
    background-color: #1a202c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.robot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}